<div style="display: flex;flex-direction: row;">
    <app-menu></app-menu>
    <div class="content" style="width: 100%;">
        <div class="content-header">
            <h2>DASHBOARD</h2>
        </div>
        <div style="width: 60%;">
          <div style="display: block">
            <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
          </div>
          <button mat-button mat-raised-button color="primary"
          (click)="randomize()">Update</button>
        </div>
        <div class="content-container">
            <h2>Zamówienia</h2>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Imię</th>
                  <th>Nawisko</th>
                  <th>Email</th>
                  <th>Telefon</th>
                  <th>Cena</th>
                </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let order of this.mainService.orders?.orders">

                  <td>{{order.id}}</td>
                  <td>{{order.first_name}}</td>
                  <td>{{order.last_name}}</td>
                  <td>{{order.email}}</td>
                  <td>{{order.phone}}</td>
                  <td>{{order.price}}</td>

                 </tr>
               </tbody>
            </table>
        </div>
    </div>
</div>
